NAME="MERN-Stack"
PORT="5000"
VERSION= 

MONGODB_URL="mongodb://localhost:27017/dbname"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
KHALTI_RETURN_URL="http://localhost:3000/khalti/payment"
KHALTI_API_URL="https://dev.khalti.com/api/v2"
KHALTI_KEY=
EMAIL_API_KEY=